body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 24px;
    align-items: center;
    padding: 0 32px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 24px;

}

a {
    text-decoration: none;
    color: #E5e7eb;
}

li {
    font-size: 18px;
}

.awesome {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 50px 32px 50px 32px;
}

.text {
    height: 200px;
    width: 320px;
}

.secondHeader {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.code {
    height: 200px;
    width: 300px;
    border-radius: 6px;
}

button {
    background-color: #3882f6;
    font-size: 16px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}
.information {
    display: flex;
    flex-direction: column;
    padding: 0 32px;
}
.infoHeader{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}
.image{
    display: flex;
    justify-content: space-between;
}